## Pandas Dataframe: Column Operations

In [9]:
import pandas as pd

df = pd.DataFrame(
    {"name": ["mwei", "warren", "shine", "dong"], "age": [20, 18, 22, 23]}
)
print(df)
# 查看df的列
print(df.columns)
print(df.columns.values)

     name  age
0    mwei   20
1  warren   18
2   shine   22
3    dong   23
Index(['name', 'age'], dtype='object')
['name' 'age']

### 修改Dataframe的列名

In [10]:
# 方法1 通过rename函数
df = df.rename(columns={"name": "person_name", "age": "age_years"})
print(df)

  person_name  age_years
0        mwei         20
1      warren         18
2       shine         22
3        dong         23

In [11]:
# 方法2 直接指定列名,进行重命名
df.columns = ["person_name", "age_in_years"]
print(df)

  person_name  age_in_years
0        mwei            20
1      warren            18
2       shine            22
3        dong            23

In [12]:
# 方法3 利用推导式做些简单转换，比如转换列名为大写
df.columns = [col.upper() for col in df.columns]
print(df)

  PERSON_NAME  AGE_IN_YEARS
0        mwei            20
1      warren            18
2       shine            22
3        dong            23